haikou-experiments/datasets
haikou-experiments/matching_relationship
haikou-experiments/plot
__MACOSX
__pycache__
grid-experiments/program/.DS_Store
grid-experiments/.DS_Store
grid-experiments/program/version2_simulation/.DS_Store
grid-experiments/program/version2_theory/.DS_Store
haikou-experiments/.DS_Store
haikou-experiments/results/.DS_Store
.DS_Store
haikou-experiments/.DS_Store
haikou-experiments/.DS_Store
